<p>
  This is a placeholder for Authentication Page content
</p>
<p>
  <%= link_to 'Overview', page_path('overview') %><br/>
  <%= link_to 'Feedback', page_path('feedback') %><br/>
  <%= link_to 'Contributing', page_path('contributing') %>
</p>