<p>
  This is a placeholder for Contributing Page content
</p>
<p>
  <%= link_to 'Overview', page_path('overview') %><br/>
  <%= link_to 'Authentication', page_path('authentication') %><br/>
  <%= link_to 'Feedback', page_path('feedback') %>
</p>