<p>
  This is a placeholder for the Feedback Page content
</p>
<p>
  <%= link_to 'Overview', page_path('overview') %><br/>
  <%= link_to 'Authentication', page_path('authentication') %><br/>
  <%= link_to 'Contributing', page_path('contributing') %>
</p>