<!DOCTYPE html>
<html class="govuk-template js flexbox">
  <head>
    <title>Book a Secure Move</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body class="govuk-template__body js-enabled">
    <p>
      This is a placeholder for the start of the tech docs layout
    </p>
    <%= yield %>
    <p>
      This is a placeholder for the end of the tech docs layout
    </p>
  </body>
</html>
